/* .artical {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
} */

.Home {
    background: url(../images/OpeningPage.png);
    height: 100vh;
    background-size: cover;
    background-position: right;
}

.button1 {
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -7%;
}

.menuVideo {
    background: url(../images/Background\ for\ Still\ animation.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.button2 {
    transform: translate(-50%, -50%);
    left: 51%;
    bottom: 10%;
    width: 23%;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-30px);
    }

    100% {
        transform: translatey(0px);
    }
}

.vidDiv {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;

}

.vid {
    animation: float 6s ease-in-out infinite;
    top: 50%;
}

.dateBanner {
    bottom: 5%;
}

.seams {
    bottom: 0%;
    transform: translate(0%, 25%);
}

.menuList {
    background: url(../images/1.\ Background\ Wallpaper\ -\ for\ loop.png);
    background-size: 100vw;
}

/* section{
    scroll-snap-align: start;
} */

.menuItems {
    width: 17.5vw;
}

.menuList2 {
    background: url(../images/1.\ Menu\ BG\ Rip\ wall\ texture.png);
    background-size: 100% 100%;
    padding-top: 210px;
    padding-bottom: 100px;
}

.moongirlAndStar {
    transform: translateY(-28%);
}

.text2 {
    transform: translateY(-15%);
}

.nightBeings {
    background: url(../images/Background\ Night\ Beings.png);
    background-size: cover;
}

.nightBeings2 {
    background: url(../images/1.\ Background\ Wallpaper\ -\ for\ loop.png);
    background-size: 100vw;
}

.seams2 {
    transform: translate(0%, -23%);
}

.family1 {
    background: url(../images/Background\ without\ seams.png);
    background-size: 100% 100%;

}

.family2 {
    background: url(../images/Background2\ without\ seams.png);
    background-size: 100% 100%;
}

.moongirlStory {
    background: url(../images/Background\ Stripey.png);
    background-size: 100% 100%;
}

.seams3 {
    z-index: 1;
    bottom: 0%;
    transform: translate(0%, 25%);
}

.moongirlStoryIMG {
    z-index: 2;
}

.moongirlStory2 {
    background: url(../images/Background\ Cracked\ Wall.png);
    background-size: 100% 100%;
}

.moongirlFavThings {
    min-height: 100vh;
    background: url(../images/Moongirl\ and\ Sirus\ background.png);
    background-size: cover;
    background-position: center;
}

.MoongirlAndSirus {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.moongirlFavThings2 {
    background: url(../images/Background\ with\ Seams.png);
    background-size: 100% 100%;
}

.exploringStraenox {
    background: url(../images/Background.png);
    background-size: 100% 100%;
}

.roadMap {
    background: url(../images/Background\ Dark\ Stripes.png);
    background-size: 100% 100%;
}

.roadMap2 {
    background: url(../images/Background\ Pink\ Stripes.png);
    background-size: 100% 100%;
}

.roadMap3 {
    background: url(../images/Background\ Purple\ Flowers.png);
    background-size: 100% 100%;
}

.return {
    position: fixed;
    top: 5%;
    z-index: 10000000000;
}















header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

header .container {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}


.boatVideo {
    width: 200%;

}





.swiper-pagination-bullet {
    background-color: white !important;
}















@media only screen and (min-width: 2000px) {
    .return {
        position: fixed;
        top: 5%;
        left: 3%;
        z-index: 10000000000;
        width: 100px;
    }

    .sound {
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 10000000000;
        width: 110px;
    }


    .button3 {
        bottom: 5vh;
        right: 3%;
    }

    .button5 {
        transform: translateX(-50%);
        bottom: 0%;
        left: 50%;
        z-index: 300;
    }

    .toyMan {
        transform: translate(-10%, -87%);
        width: 300px;

    }

}

@media only screen and (min-width: 1500px) {
    .return {
        position: fixed;
        top: 5%;
        left: 3%;
        z-index: 10000000000;
        width: 100px;
    }

    .sound {
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 10000000000;
        width: 110px;
    }

    .button3 {
        bottom: 5vh;
        right: 3%;
    }

    .button5 {
        transform: translateX(-50%);
        bottom: 0%;
        left: 50%;
        width: 200px;
        z-index: 300;
    }

    .toyMan {
        transform: translate(0%, -87%);
        width: 200px;

    }
}

@media only screen and (max-width: 1500px) {
    .return {
        position: fixed;
        top: 5%;
        left: 3%;
        z-index: 10000000000;
        width: 80px;
    }

    .sound {
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 10000000000;
        width:90px;
    }
    .button3 {
        bottom: 5vh;
        right: 3%;
    }

    .sochialDiv {
        position: absolute;
        bottom: 3%;
        left: 3%;
    }

    .sochial {
        width: 150px;
    }

    .menuList2 {
        padding-top: 210px;
    }

    .button5 {
        transform: translateX(-50%);
        bottom: 0%;
        left: 50%;
        width: 200px;
        z-index: 300;
    }

    .toyMan {
        transform: translate(0%, -87%);
        width: 200px;

    }
}

@media only screen and (max-width: 1200px) {
    .button3 {
        bottom: 7vh;
        right: 3%;
        width: 100px;
    }

    .sochialDiv {
        position: absolute;
        bottom: 3%;
        left: 3%;
    }

    .sochial {
        width: 80px;
    }

    .menuList2 {
        padding-top: 110px;
    }
}

@media only screen and (max-width: 992px) {
    .button3 {
        bottom: 6vh;
        right: 3%;
    }

    .menuList2 {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .return {
        position: fixed;
        top: 5%;
        left: 3%;
        z-index: 10000000000;
        width: 60px;
    }

    .sound {
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 10000000000;
        width: 70px;
    }
    .button3 {
        bottom: 90vh;
    }

    .sochialDiv {
        position: absolute;
        top: 2%;
        left: 3%;
    }

    .sochial {
        width: 80px;
    }

    .menuList2 {
        padding-top: 100px;
    }

    .button5 {
        transform: translateX(-50%);
        bottom: 0%;
        left: 50%;
        width: 130px;
        z-index: 300;
    }

    .toyMan {
        transform: translate(0%, -87%);
        width: 130px;

    }
}

@media only screen and (max-width: 576px) {
    .return {
        position: fixed;
        top: 5%;
        left: 3%;
        z-index: 10000000000;
        width: 40px;
    }

    .sound {
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 10000000000;
        width: 50px;
    }
    .button3 {
        top: 30px;
        width: 80px;
    }

    .sochialDiv {
        position: absolute;
        top: 4%;
        left: 3%;
    }

    .sochial {
        width: 60px;
    }

    .menuList2 {
        padding-top: 90px;
    }

    .button5 {
        transform: translateX(-50%);
        bottom: 0%;
        left: 50%;
        width: 100px;
        z-index: 300;
    }

    .toyMan {
        transform: translate(0%, -87%);
        width: 100px;

    }
}